.nav {
  padding-left: 40px;
}

form #login_email {
  padding-right: 26px;
}

form #login_password_confirm {
  padding-right: 11px;
}

.login_container {
  width: 260px;
  margin: 0 auto;
  padding-top: 30px;
}

.logged_in {
  float: right;
}

.form_errors {
  font-size: 80%;
  color: red;
}
