{% extends "base.html" %}
{% block content %}
    {% if g.user.is_authenticated() %}
        <div class="logged_in_index_container group">
            <div class="logged_in group">
                <span>Hi, {{user.email}}</span>
                <a class="sign-out" href="{{url_for('logout')}}">Sign out</a>
            </div>

            {% if upload_message %}
                <span>{{ upload_message }}<span>
            {% endif %}
            <form class="upload_form" action="/" method=post enctype=multipart/form-data>
                <p><input type=file name=file>
                <input class="transparent-style" type=submit value=Upload>
            </form>

            <span class="current_path">{{ path_msg }}</span>
            <table>
                <thead>
                    <tr>
                        <td>Name</td>
                        <td>Size</td>
                        <td>Created</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                        <tr {% if loop.index % 2 != 0 %}
                                class="light"
                            {% else %}
                                class="dark"
                            {% endif %}
                        >
                        {% if file.is_dir %}
                            <td class="folder_file">{{file.name}}</td>
                            <!-- TODO folder js -->
                        {% else %}
                            <td class="regular_file">{{file.name}}</td>
                        {% endif %}
                            <td>{{file.size|filesizeformat}}</td>
                            <td>{{file.creation_date}}</td>
                            <td>
                                <div class="buttons_container">
                                    <div class="button button-download group">
                                        <form method="get" action="{{url_for('getFile')}}">
                                            <input type="hidden" name="path" value={{path}}>
                                            <input type="hidden" name="index" value={{files.index(file)}}>
                                            <input class="transparent-style" type=submit value=Download>
                                        </form>
                                    </div>
                                    <div class="button button-delete group">
                                        <form method="get" action="{{url_for('deleteFile')}}">
                                            <input type="hidden" name="path" value={{path}}>
                                            <input type="hidden" name="index" value={{files.index(file)}}>
                                            <input class="transparent-style" type=submit value=Delete>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="not_logged_in_index_container group">
             <a href="{{url_for('register')}}"><button class="register shadow border-radius"><span >JOIN</span></button></a>
             <a href="{{url_for('login')}}" class="login">LOG IN</a>
        </div>
    {% endif %}
{% endblock %}
