<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<div class="login_container">
    <h1>Sign In</h1>
    <form action="" method="post" name="login">
        {{form.hidden_tag()}}
        <p>
            <span id="login_email">email:</span>
            <span>{{form.email()}}</span><br>
            <span id="login_password">password:</span>
            <span>{{form.password()}}</span><br>
        </p>
        <p>{{form.remember_me}} Remember Me</p>
        <p><input type="submit" value="Sign In"></p>
    </form>
</div>
{% endblock %}
