<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="login_container group">
        <h1>Sign In</h1>
        <form action="{{url_for('login')}}" method="post" name="login">
            {{form.hidden_tag()}}
            <p>
                <span id="login_email">email:</span>
                <span>{{form.email()}}</span><br/>
                {% for error in form.errors.email %}
                    <span class="form_errors">{{error}}</span>
                {% endfor %}<br/>

                <span id="login_password">password:</span>
                <span>{{form.password()}}</span><br/>
                {% for error in form.errors.password %}
                    <span class="form_errors">{{error}}</span>
                {% endfor %}<br/>
            </p>
            <p>{{form.remember_me}} Remember Me</p>
            <p><input type="submit" value="Sign In"></input></p>
        </form>
    </div>
{% endblock %}
