<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
    <div class="register_container group">
        <h1>Register</h1>
        <form action="{{url_for('register')}}" method="post" name="register">
            {{form.hidden_tag()}}
            <p>
                <span id="login_email">email:</span>
                <span>{{form.email()}}</span><br>
                {% for error in form.errors.email %}
                    <span class="form_errors">{{error}}</span>
                {% endfor %}<br>

                <span id="login_password">password:</span>
                <span>{{form.password()}}</span><br>
                {% for error in form.errors.password %}
                    <span class="form_errors">{{error}}</span>
                {% endfor %}<br>

                <span id="login_password_confirm">confirm:</span>
                <span>{{form.confirm_password()}}</span><br>
                {% for error in form.errors.confirm_password %}
                    <span class="form_errors">{{error}}</span>
                {% endfor %}<br>
            </p>
            <p><input type="submit" value="Register"></p>
        </form>
    </div>
{% endblock %}
